ZMK_LAYER(base,
//╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭──────╮╭──────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
    X_LT     &kp Q         &kp W         &kp E         &kp R         &kp T          X_MLT   X_MRT   &kp Y         &kp U         &lt WIN I     &kp O         &kp P           X_RT
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├──────┤├──────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LM     &hml LGUI A   &hml LALT S   &hml LCTRL D  &hml LSHFT F  &kp G          X_MLM   X_MRM   &kp H         &hmr RSHFT J  &hmr LCTRL K  &hmr LALT L   &hmr LGUI SEMI  X_RM
//├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├──────┤├──────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
    X_LB     &kp Z         &kp X         &kp C         &kp V         &kp B          X_MLB   X_MRB   &kp N         &kp M         &comma_morph  &dot_morph    &qexcl          X_RB
//├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤├──────┤├──────┤├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
    X_LH                                               DSPACE        LCADET         X_MLH   X_MRH   RCADET        &lt NAV RET                                               X_RH
//╰──────╯                             ╰─────────────┴─────────────┴─────────────╯╰──────╯╰──────╯╰─────────────┴─────────────┴─────────────╯                             ╰──────╯
)
