

// Encoders
#if CONFIG_EC11
    #define __ENC_VOL__     &inc_dec_kp C_VOL_UP C_VOL_DN
    #define __ENC_VOL_REV__ &inc_dec_kp C_VOL_DN C_VOL_UP
#else
    #define __ENC_VOL__     &trans
    #define __ENC_VOL_REV__ &trans
#endif
